* {box-sizing: border-box;}
body {font: 14px Calibri;}
.content img {float: right; padding: 20px 0 0 40px;}
.header  {padding:   10px; background-color: #111; color: gold; text-align: center;}
.menu    {padding:   10px; background-color: #fb0;                text-align: center;}
.menu a  {padding:   10px; text-decoration: none;}
.menu a:link              {background-color: #fb0; color: #000;}
.menu a:visited           {background-color: #fb0; color: #000;}
.menu a:hover             {background-color: #f80; color: #000;}
.menu a:active            {background-color: #fb0; color: #000;}
.sidebar {padding:   10px; background-color: #999; float: left; width: 20%; height: 400px;}
.content {padding: 0 20px; background-color: #ddd; float: left; width: 80%; height: 400px;}
.footer  {padding:   10px; background-color: #333; color: #bbb; text-align: center;}
