* {box-sizing:border-box;}
body {background-color:Pink;}
p {color:purple;}
img {width:300px;}
.izquierda{float:left ; width:60%; padding:0 50px;}
.derecha  {float:right; width:40%; padding:0 50px;}
.footer {clear:right;}